*.iml
.idea/
.gradle/
.kotlin/
local.properties
build/
app/build/
app/release/
app/debug/
captures/
.DS_Store
Thumbs.db
*.class
*.log
*.apk
*.aab
*.ap_
*.jar
*.war
*.ear
*.jks
*.keystore
*.hprof
*.kt.*
*.kts.*
.externalNativeBuild/
.cxx/
.toolchain/
node_modules/
app/src/main/assets/voices/*.wav
